/target
/dist
/run
.DS_Store
.idea/
.vscode/
*.swp
packaging/windows/stage-*/
packaging/linux/AppDir*/
packaging/linux/cache/
packaging/linux/root-*/
packaging/macos/work-*/
packaging/aur/build/
packaging/aur/repo/
__pycache__/
